.btn-primary {
    background-color: #000000;
    color: white;
    border-color: #000000;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    height: 80%;
    width: 40%;
    margin-top: 16%;
}